<?xml version="1.0"?>
<launch>
    <arg name="map_path" default="$(find emcl_ros)/maps1/map.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)" output="screen"/>
    <arg name="rviz_path" default="$(find system)/launch/rviz.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_path)"/>

    <include file="$(find system)/launch/gazebo.launch"/>
    <include file="$(find system)/launch/localization.launch"/>
    <!-- <include file="$(find system)/launch/navigation.launch"/> -->

</launch>
