<!-- <?xml version="1.0"?> -->
<launch>
    <arg name="rviz_path" default="$(find system)/launch/rviz.rviz"/>
    <arg name="map_path" default="$(find emcl_ros)/maps/map.yaml"/>
    <!-- ###################### -->
    <include file="$(find system)/launch/gazebo.launch"/>
    <!-- ###################### -->
    <!-- <arg name="ns1" default="loc"/>
    <include file="$(find scan_to_pcl_ros)/launch/scan_to_pcl.launch" ns="$(arg ns1)"/>
    <include file="$(find raycast_mapping_ros)/launch/raycast_mapping.launch" ns="$(arg ns1)"/>
    <include file="$(find emcl_ros)/launch/emcl.launch" ns="$(arg ns1)"/> -->

    <!-- ###################### -->
    <!-- <arg name="ns2" default="amr_navi"/>
    <include file="$(find local_goal_creator_ros)/launch/local_goal_creator.launch" ns="$(arg ns2)">
        <arg name="path_topic" value="path"/>
        <arg name="robot_pose_topic" value="/emcl_pose"/>
        <arg name="target_dist_to_goal" value="1.0"/>
        <arg name="use_direction_in_path" default="true"/>
    </include>
    <include file="$(find a_star_ros)/launch/a_star.launch" ns="$(arg ns2)">
        <arg name="initial_pose_topic" value="/emcl_pose"/>
    </include>
    <include file="$(find dwa_planner)/launch/local_planner.launch">
        <arg name="ns" value="$(arg ns2)"/>
        <arg name="robot_param" value="$(find system)/launch/robot_param.yaml"/>
        <arg name="local_goal" value="local_goal"/>
        <arg name="v_path_width" value="0.02"/>
    </include> -->
    <!-- ###################### -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_path)"/>
</launch>


<!-- <?xml version="1.0"?>
<launch>
    	<include file="$(find vectormap_loader)/launch/vectormap_loader.launch" />
	<include file="$(find robot_notification)/launch/robot_notification_outdoor.launch"/>
	<include file="$(find select_dest)/launch/select_dest_outdoor.launch"/>
    	<include file="$(find waypoint_follower_node_edge)/launch/waypoint_follower_node_edge.launch"/>
</launch> -->