<?xml version="1.0"?>
<launch>
    <arg name="frame_id" default="base_scan"/>
    <include file="$(find amr_navigation_utils_ros)/launch/pointcloud_angle_filter.launch">
        <arg name="output" value="screen"/>
    </include>

    <include file="$(find scan_to_pcl_ros)/launch/scan_to_pcl.launch">
        <arg name="frame_id" value="$(arg frame_id)"/>
    </include>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find amr_navigation_utils_ros)/launch/test/pointcloud_angle_filter.rviz"/>
</launch>
